<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Dabetak - Template</title>
        <link rel="stylesheet" href="/css/bundle.css">
    </head>
    <body>
        <div class="db master">
        <!-- Start application navbar -->
        <header class="db header"></header>

        <!-- Start main body -->
        <main class="db main"></main>

        <!-- Start application footer -->
        <footer class="db footer"></footer>
        </div>
    </body>
</html>
